spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/megamart
    username: postgres
    password: 2520009
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false

server:
  port: 9090
