spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/megamart
    username: postgres
    password: 2520009
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  flyway:
    enabled: false

  # Email Configuration
  mail:
    host: smtp.gmail.com
    port: 587
    username: ranganadhamsivaramakrishna1@gmail.com
    password: vgnfvutfbbufbfys
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 20GB
      max-request-size: 20GB

server:
  port: 9090


